@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );

  --shadow-button: -5px 5px 0px 0px rgba(0, 98, 90, 0.4);
  --shadow-button-half: -2.5px 2.5px 0px 0px rgba(0, 98, 90, 0.4);

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --min-width-0: 0;
  --min-width-44: 11rem;
  --min-width-1\/4: 25%;
  --min-width-1\/3: 33%;
  --min-width-1\/2: 50%;
  --min-width-2\/3: 66%;
  --min-width-3\/4: 75%;
  --min-width-2xl: 42rem;
  --min-width-3xl: 48rem;
  --min-width-4xl: 56rem;
  --min-width-5xl: 64rem;
  --min-width-6xl: 72rem;
  --min-width-7xl: 80rem;
  --min-width-8xl: 88rem;
  --min-width-9xl: 96rem;

  --container-0: 0;
  --container-44: 11rem;
  --container-1\/4: 25%;
  --container-1\/3: 33%;
  --container-1\/2: 50%;
  --container-2\/3: 66%;
  --container-3\/4: 75%;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;
  --container-8xl: 88rem;
  --container-9xl: 96rem;

  --animate-typing: typing 1.5s steps(30), blink 0.7s infinite;
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-caret-blink: caret-blink 1.25s ease-out infinite;

  @keyframes typing {
    0% {
      width: 0%;
      visibility: hidden;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: white;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 20.5 90.2% 48.2%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

html {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

button:hover {
  box-shadow: -2.5px 2.5px 0px 0px;
}

@media (prefers-color-scheme: dark) {
  .invert-svg {
    filter: invert(1);
  }
}

.bg-green {
  background-color: #57f287;
}

.bg-yellow {
  background-color: #fee75c;
}

.bg-red {
  background-color: #ed4245;
}

.bg-gray {
  background-color: gray;
}

body::-webkit-scrollbar {
  display: none;
}

button:hover {
  box-shadow: 0px 0px 0px 0px;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 1;
}

.delayed {
  animation-delay: 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.e {
  color: inherit !important;
  text-decoration: none !important;
  cursor: default;
}

.fingies {
  letter-spacing: -3px;
  display: block;
}

.fingies:hover .touchtips {
  animation: fingers 1200ms ease-in-out infinite;
}

@keyframes fingers {
  0% {
    margin-right: 0em;
  }
  50% {
    margin-right: 0.75em;
  }
  100% {
    margin-right: 0em;
  }
}

#rainbow {
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
