<div>
  <h1 class="text-6xl font-bold pb-4">fayevr<span class="text-purple">.dev( )</span></h1>
  <p class="text-purple pb-2 subheading">Dominic S.</p>
  <p class="text-grey subheading">I am <%= @age.to_s %> years old,<br>a web, game dev and a server engineer</p>
  <br>
</div>
