<div class="container space-y-8 items-center">
  <div class="text-center">
    <h1 class="text-4xl font-bold">Designing the future of VR-Assets</h1>
    <p class="text-gray-500">The bot is all about slash commands and suggestions!</p>
    <p class="text-gray-500">There's multiple languages, and you will be able to set the language for your own server.</p>
    <p class="text-gray-500">You are able to accept, deny, and reset the suggestion. Resetting will remove the accept and/or deny and allow voting again.</p>
    <br>
    <%= link_to "Invite Bot", "https://discord.com/oauth2/authorize?client_id=1067721186357813258&permissions=277562616896&scope=bot%20applications.commands", :class => "hover-4 subheading" %>
  </div>
</div>