 <div class="flex flex-wrap justify-center h-full">
   <h1 class="text-4xl font-bold text-center w-full mb-8 mt-8 pb-8 border-b-2">Projects</h1>
   <div class="w-full sm:w-1/3 md:w-1/4 m-3">
      <div class="max-w-md md:max-w-2xl min-w-0 break-words shadow-lg rounded-xl mt-16 border-2 border-indigo-500 h-[500px]">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full flex justify-center">
              <div class="relative">
                <img src="https://cdn.discordapp.com/avatars/1067721186357813258/aff9b2e26279a5ea44ae3dcf6bd05b7f.webp" class="shadow-xl rounded-full align-middle absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"/>
              </div>
            </div>
            <div class="w-full text-center mt-20">
              <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                <div class="p-3 text-center">
                  <a href="https://github.com/dev-suro/suggestion-bot">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="w-50 fill-white">
                      <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                    </svg>
                    <span class="text-sm text-slate-400">GitHub</span>
                  </a>
                </div>
                <div class="p-3 text-center">
                  <a href="https://discord.com/oauth2/authorize?client_id=1067721186357813258&permissions=277562616896&scope=bot%20applications.commands">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-50 fill-white">
                      <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                    </svg>
                    <span class="text- text-slate-400">Invite</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-2">
            <h3 class="text-2xl font-bold leading-normal mb-1">Suggestions Bot</h3>
            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
              <i class="fa-solid fa-code mr-2 text-slate-400 opacity-75"></i>Discord Bot
            </div>
          </div>
          <div class="mt-6 py-6 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
              <div class="w-full px-4">
                <p class="font-light leading-relaxed mb-4">
                  The bot is all about slash commands and suggestions!
                  There's multiple languages, and you will be able to set the language for your own server.<br>
                  You can also set the suggestion channel, and the suggestion embed color.<br>
                  You are able to accept, deny, and reset the suggestion. Resetting will remove the accept and/or deny and allow voting again.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <div class="w-full sm:w-1/3 md:w-1/4 m-3">
     <div class="max-w-md md:max-w-2xl min-w-0 break-words shadow-lg rounded-xl mt-16 border-2 border-indigo-500 h-[500px]">
       <div class="px-6">
         <div class="flex flex-wrap justify-center">
           <div class="w-full flex justify-center">
             <div class="relative">
               <img src="https://cdn.discordapp.com/avatars/803989558143352872/345e6d568b0c614887d66d77eafd37ea.webp" class="shadow-xl rounded-full align-middle absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"/>
             </div>
           </div>
           <div class="w-full text-center mt-20">
             <div class="flex justify-center lg:pt-4 pt-8 pb-0">
               <div class="p-3 text-center">
                 <a href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-50 fill-white">
                     <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
                   </svg>
                   <span class="text- text-slate-400">Invite</span>
                 </a>
               </div>
             </div>
           </div>
         </div>
         <div class="text-center mt-2">
           <h3 class="text-2xl font-bold leading-normal mb-1">Alyx Bot</h3>
           <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
             <i class="fa-solid fa-code mr-2 text-slate-400 opacity-75"></i>Discord Bot
           </div>
         </div>
         <div class="mt-6 py-6 border-t border-slate-200 text-center">
           <div class="flex flex-wrap justify-center">
             <div class="w-full px-4">
               <p class="font-light leading-relaxed mb-4">
                 Global banning bot with a lot of features.
                 <br>
                 Reporting system, with only verified servers being able to report.
               </p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
   <div class="w-full sm:w-1/3 md:w-1/4 m-3">
     <div class="max-w-md md:max-w-2xl min-w-0 break-words shadow-lg rounded-xl mt-16 border-2 border-indigo-500 h-[500px]">
       <div class="px-6">
         <div class="flex flex-wrap justify-center">
           <div class="w-full flex justify-center">
             <div class="relative">
               <img src="https://cdn.discordapp.com/avatars/647482062894399518/79db3c0dadbecde90bf3bde4c7d96da4.webp" class="shadow-xl rounded-full align-middle absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"/>
             </div>
           </div>
           <div class="w-full text-center mt-20">
             <div class="flex justify-center lg:pt-4 pt-8 pb-0">
               <div class="p-3 text-center">
                 <a href="https://github.com/dev-suro/modmail-bot">
                   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="w-50 fill-white">
                     <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                   </svg>
                   <span class="text-sm text-slate-400">GitHub</span>
                 </a>
               </div>
             </div>
           </div>
         </div>
         <div class="text-center mt-2">
           <h3 class="text-2xl font-bold leading-normal mb-1">ModMail Bot</h3>
           <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
             <i class="fa-solid fa-code mr-2 text-slate-400 opacity-75"></i>Discord Bot
           </div>
         </div>
         <div class="mt-6 py-6 border-t border-slate-200 text-center">
           <div class="flex flex-wrap justify-center">
             <div class="w-full px-4">
               <p class="font-light leading-relaxed mb-4">
                 ModMail Bot with a Dashboard for singular servers.
                 <br>
                 Need Hosting? Message me on Discord!
               </p>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>