<div class="container flex flex-col space-y-8 items-center">
  <div class="group relative rounded-xl border-[1px] border-tertiary bg-secondary/50 p-4 transition duration-200 hover:border-accent md:hover:scale-[1.01]">
    <a class="jsx-8b75a9ccf5c40d44 transition duration-200 flex flex-col space-y-8 md:flex-row md:space-y-0 md:space-x-4" href="/projects/suggestions">
      <img src="https://cdn.discordapp.com/avatars/1067721186357813258/aff9b2e26279a5ea44ae3dcf6bd05b7f.webp" width="80">
      <div class="flex-col space-y-2">
        <h3 class="flex flex-row items-center space-x-2 text-lg font-semibold">Suggestions Bot</h3>
        <p class="text-md text-gray-300">Up- and Downvote with suggestions for Discord</p>
      </div>
    </a>
    <a class="absolute -top-2 -right-2 hidden rounded-full border-[1px] border-accent bg-accent p-1.5 text-tertiary opacity-0 transition hover:bg-secondary hover:text-accent group-hover:block group-hover:opacity-100" href="https://test" target="_blank" rel="noopener noreferrer">
    </a>
  </div>
  <div class="group relative rounded-xl border-[1px] border-tertiary bg-secondary/50 p-4 transition duration-200 hover:border-accent md:hover:scale-[1.01]">
    <a class="jsx-8b75a9ccf5c40d44 transition duration-200 flex flex-col space-y-8 md:flex-row md:space-y-0 md:space-x-4" href="/projects/alyx">
      <img src="https://cdn.discordapp.com/avatars/803989558143352872/345e6d568b0c614887d66d77eafd37ea.webp" width="80">
      <div class="flex-col space-y-2">
        <h3 class="flex flex-row items-center space-x-2 text-lg font-semibold">Alyx Bot</h3>
        <p class="text-md text-gray-300">Up- and Downvote with suggestions for Discord</p>
      </div>
    </a>
  </div>
</div>