<div class="space-y-8 items-center">
  <div class="">
    <div class="pb-4 flex">
      <div class="pr-8">
        <h1 class="text-4xl font-bold">Suggestions Discord Bot</h1>
        <br>
        <p class="text-main-white">The bot is all about slash commands and suggestions!</p>
        <p class="text-main-white">There's multiple languages, and you will be able to set the language for your own server.</p>
        <p class="text-main-white">You are able to accept, deny, and reset the suggestion. Resetting will remove the accept and/or deny and allow voting again.</p>
      </div>
      <div>
        <img src="https://cdn.discordapp.com/app-icons/320196959015141377/b9cddb5fc1e591977d925e55cf2fe7eb.png" class="rounded-full w-32 h-32">
      </div>
    </div>
    <div class="subheading inline-block hover-4 p-2">
      <a href="https://discord.com/oauth2/authorize?client_id=1067721186357813258&permissions=277562616896&scope=bot%20applications.commands" class="text-hover"><i class="fa-solid fa-arrow-right"></i> Invite Bot</a>
    </div>
  </div>
</div>