<div class="container">
  <div>
  <h1 class="text-6xl font-bold pb-4">about<span class="text-purple">( )</span></h1>
  <p class="text-grey pb-2 pt-4 subheading">Download my <button class="bg-purple text-blackgrey rounded-full py-1 p-4 pb-3"><%= link_to "resume", :action => :resumedownload %></button></p>
  <p class="text-purple pb-2 pt-4 subheading text-lg">I am a creative game developer, web developer and a big mess.</p>
  <p class="text-grey pb-2 subheading text-lg">// 6+ years of experience</p>
  </div>
  <h2 class="text-2xl pt-10 pb-6">Main Skills</h2>
  <div class="grid grid-cols-4 flex container">
    <div class="text-grey">
      Frontend Development<br>
      UX/UI Design
      <br><br><br>
      E-Commerce<br>
      Magento<br>
      WordPress<br>
      PrestaShop
    </div>
    <div class="text-grey">
      JavaScript, CSS<br>
      HTML, Vue
      <br><br><br>
      Graphic design<br>
      Game design
    </div>
    <div class="text-grey">
      Photoshop<br>
      Illustrator<br>
      Unity
    </div>
    <div class="text-grey">
      Linux<br>
      Server Management
    </div>
  </div>
  <h2 class="text-2xl pt-10 pb-6">Tools</h2>
  <div class="grid grid-cols-4 flex container">
    <div class="text-grey">
      Vue<br>
      React<br>
      Unity<br>
      Blender
    </div>
    <div class="text-grey">
      Node.JS<br>
      npm<br>
      Git<br>
      REST APIs<br>
      PHP
    </div>
    <div class="text-grey">
      Photoshop<br>
      Illustrator<br>
      Adobe XD or Figma<br>
      SVG<br>
      Canvas
    </div>
    <div class="text-grey">
      Pencil & Paper<br>
      Drawing Tablet<br>
    </div>
  </div>
  <h2 class="text-2xl pt-10 pb-6">Experience</h2>
  <div class="grid grid-cols-4 flex container">
    <div class="text-grey">
      <p class="text-purple">Backend development</p>
      at <a href="https://vr-assets.net/" class="text-red underline">VR-Assets</a><br>
      2019 - now
    </div>
    <div class="text-grey">
      <p class="text-purple">Developer & Designer</p>
      at <a href="https://dutchboxx.nl/" class="text-red underline">DutchBoxx</a><br>
      2018 - now
    </div>
    <div class="text-grey">
      <p class="text-purple">Head of Game Development</p>
      &lt;&#47;unknown&gt;<br>
      2016 - 2019
    </div>
    <div class="text-grey">
      <p class="text-purple">Freelancer</p>
      &#64;everywhere<br>
      2014 - now
    </div>
  </div>
  <h2 class="text-2xl pt-10 pb-6">Languages</h2>
  <div class="grid grid-cols-4 flex container">
    <div class="text-grey">
      &#47;&#47; fluent<br>
      <sp class="text-purple italic">en-US</sp> English,<br>
      <sp class="text-purple italic">nl-NL</sp> Dutch,<br>
      <sp class="text-purple italic">de-DE</sp> German<br>
    </div>
    <div class="text-grey">
      &#47;&#47; intermediate<br>
      <sp class="text-purple italic">fr-NL</sp> Fryslân,<br>
    </div>
    <div class="text-grey">
      &#47;&#47; basic<br>
      Maybe in the future :)
    </div>
  </div>
  <h2 class="text-2xl pt-10 pb-6">Also busy with</h2>
  <div class="grid grid-cols-4 flex container">
    <div class="text-grey">
      My dog barking
    </div>
    <div class="text-grey">
      &lt;&#47;LINUX&gt
    </div>
    <div class="text-grey">
      Video games
    </div>
    <div class="text-grey">
      .. work
    </div>
  </div>
</div>
