<div class="container">
  <div>
  <h1 class="text-6xl font-bold pb-4">about<span class="text-purple">( )</span></h1>
  <p class="text-grey pb-2 subheading">Download my <button class="text-black bg-purple rounded-full py-1 p-4 pb-3">resume</button></p>
  <br>
  </div>
</div>
