@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

body {
  background-color: #0e1212;
}

/*make all text white*/
body, p, h1, h2, h3, h4, h5, h6, a, li, span, div, input, textarea, select, button {
  color: #fff;
  @apply tracking-wide;
}

.subheading {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
