@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 246, 246, 246;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --tw-bg-opacity: 1;
    --background-color: 1 1 1 / var(--tw-bg-opacity);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

button:hover {
  box-shadow: -2.5px 2.5px 0px 0px;
}

@media (prefers-color-scheme: dark) {
  .invert-svg {
    filter: invert(1);
  }
}

.bg-green {
  background-color: #57F287;
}

.bg-yellow {
  background-color: #FEE75C;
}

.bg-red {
  background-color: #ED4245;
}

.bg-gray {
  background-color: gray;
}

body::-webkit-scrollbar {
  display: none;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  opacity: 1;
}

.delayed {
  animation-delay: 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}