@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: 246, 246, 246;
  font-family: Inter, sans-serif;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-color: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color));
}

button:hover {
  box-shadow: -2.5px 2.5px 0px 0px;
}

@media (prefers-color-scheme: dark) {
  .invert-svg {
    filter: invert(1);
  }
}

.bg-green {
  background-color: #57F287;
}

.bg-yellow {
  background-color: #FEE75C;
}

.bg-red {
  background-color: #ED4245;
}

.bg-gray {
  background-color: gray;
}